$grid-areas: (0, 1, 2, 3, 4);

.main-page {
  background-color: var(--color-white-100);
  min-height: 100vh;
  padding: 4.5625em 2.1875em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@each $i in $grid-areas {
  .area-#{$i} {
    grid-area: a#{$i};
  }
}

.testimonials-grid {
  display: grid;
  gap: var(--space-400);

  grid-template-columns: 1fr;
  grid-template-areas:
    "a0"
    "a1"
    "a2"
    "a3"
    "a4";
}

@media (min-width: 48em) {
  .main-page {
    padding: 5em 3.75em;
  }

  .testimonials-grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a0 a0"
      "a1 a2"
      "a3 a3"
      "a4 a4";
  }
}

@media (min-width: 67.5em) {
  .testimonials-grid {
    max-width: 69.625em;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "a0 a0 a1 a4"
      "a2 a3 a3 a4";
  }
}
