<article class="testimonial-card">
<div class="testimonial-card__profile">
  <img src="/images/{{ testimonial.image }}" alt="" class="testimonial-card__image" />
  <div class="testimonial-card__author">
    <span class="testimonial-card__name">{{ testimonial.name }}</span>
    <span class="testimonial-card__title">{{ testimonial.title }}</span>
  </div>
</div>
  <h2 class="testimonial-card__headline">
{{ testimonial.headline }}
  </h2>
  <p class="testimonial-card__quote">
    “ {{ testimonial.quote }} ”
  </p>
</article>
