@use "../../../../fonts.scss";

.testimonial-card {
    border-radius: var(--space-100);
    background-color: var(--color-white);
    padding: var(--space-400);
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    box-shadow: 40px 60px 50px -47px rgba($color: #48556A, $alpha: 0.24);


    &__profile {
        display: flex;
        align-items: center;
        gap: var(--space-200);
    }

    &__image {
        border-radius: 100%;
        aspect-ratio: 1 / 1;
        width: 28px;
    }

    &__author {
        display: flex;
        flex-direction: column;
        gap: var(--space-50);
    }

    &__name {
        @include fonts.apply-text-preset("2");
        color: var(--color-grey-500);
    }

    &__title {
        @include fonts.apply-text-preset("4");
        color: var(--color-grey-400);
    }

    &__headline {
        @include fonts.apply-text-preset("1");
        color: var(--color-grey-500);
    }

    &__quote {
        @include fonts.apply-text-preset("3");
        color: var(--color-grey-500);
    }
}