@use "sass/map";

/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/barlow-semi-condensed-v15-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/barlow-semi-condensed-v15-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$text-presets: (
  "1": (
    size: 20px,
    weight: 600,
    line-height: 1.2,
    letter-spacing: 0px,
    font-family: ("Barlow Semi Condensed", sans-serif),
  ),
  "2": (
    size: 13px,
    weight: 500,
    line-height: 1.1,
    letter-spacing: 0px,
    font-family: ("Barlow Semi Condensed", sans-serif),
  ),
  "3": (
    size: 13px,
    weight: 500,
    line-height: 1.4,
    letter-spacing: 0px,
    font-family: ("Barlow Semi Condensed", sans-serif),
  ),
  "4": (
    size: 11px,
    weight: 500,
    line-height: 1.1,
    letter-spacing: 0px,
    font-family: ("Barlow Semi Condensed", sans-serif),
  ),
);

@mixin apply-text-preset($name) {
  $preset: map.get($text-presets, $name);
  @if $preset {
    font-size: map.get($preset, size);
    font-weight: map.get($preset, weight);
    line-height: map.get($preset, line-height);
    letter-spacing: map.get($preset, letter-spacing);
    font-family: map.get($preset, font-family);
  }
}
